$color-primary: #165690;
$color-primary-dark: #053159;
$color-primary-light: #517ba2;
$color-accent: #df8a13;
$color-dark: #232323;
$color-gray: #d5d5d5;
$color-light: #ffffff;
$color-black: #000000;
$color-dark-gray: #6f6f6f;
